@model RegistroEmpleados.Models.MailModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>From: </p>
        <p>@Html.TextBoxFor(model => model.Desde)</p>
        <p>To: </p>
        <p>@Html.TextBoxFor(model => model.Hacia)</p>
        <p>Subject: </p>
        <p>@Html.TextBoxFor(model => model.Asunto)</p>
        <p>Body: </p>
        <p>@Html.TextAreaFor(model => model.Cuerpo)</p>
        <input type="submit" value="Send" />
    }
</fieldset>
